Repository Falcion/Patternugit, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, automation/ci-cd, automation/tooling, dependencies, main, python, javascript, github_actions

.github/labeler.yml:

# Add 'code-scanning' label to any changes within 'code-scanning' folder or any subfolders
# code-scanning:
#   - code-scanning/**/*
documentation:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'
automation/ci-cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**', '.github/*.yml']
automation/tooling:
  - changed-files:
      - any-glob-to-any-file: 'kubernetes/**'
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['**/package*', '**/composer*', '**/yarn*', '**/requirements*']
main:
  - changed-files:
      - any-glob-to-any-file: 'source/**'
python:
  - changed-files:
      - any-glob-to-any-file: '**/*.py'
release:
  - changed-files:
      - any-glob-to-any-file: 'release/**'
  - base-branch: 'release*'
javascript:
  - changed-files:
      - any-glob-to-any-file: '**/*.js'
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**', '.github/*.yml']

fix(scripts): revamp entire preparation script, fix of #218
  prepare-template.ts
Labels: none

chore(release): 2.3.0
  CHANGELOG.md
  manifest.json
  package.json
Labels: dependencies

chore(release): 2.3.0
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  CHANGELOG.md
  README.md
  UNSUPPORTED_VERSIONS.md
Labels: none

chore: last fix, add some tweaks and features
  prepare-template.ts
Labels: none

chore: another fix of main script
  prepare-template.js
  prepare-template.ts
Labels: javascript
